.calcBody {
  background-color: #9abe75;
  width: 100%;
  height: 100vh;
}

.calcBody .calculatorDiv {
  padding: 30px;
  background-color: #413f42;
  border-radius: 30px;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.calcBody .calculatorDiv input {
  width: 100%;
  height: 80px;
  background-color: #bac7ae;
  border-radius: 15px;
  border: none;
  text-align: right;
  padding: 30px;
  font-weight: bold;
  font-size: 55px;
}
.calcBody .calculatorDiv .buttonDiv {
  margin-top: 30px;
}
.calcBody .calculatorDiv .buttonDiv button {
  height: 55px;
  width: 87px;
  margin: 8px 5px;
  border-radius: 10px;
  font-size: 45px;
  border: none;
  font-weight: bold;
}
.calcBody .calculatorDiv .buttonDiv .zeroButton {
  width: 185px;
}
.calcBody .calculatorDiv .buttonDiv .answerButton {
  background-color: #ff884b;
  color: white;
}
@media (max-width: 500px) {
  .calcBody .calculatorDiv {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    text-align: center;
  }
  .calcBody .calculatorDiv input {
    margin-top: 40%;
  }

  .calcBody .calculatorDiv .buttonDiv button {
    width: 20%;
    font-size: 30px;
  }
  .calcBody .calculatorDiv .buttonDiv .zeroButton {
    width: 45%;
  }
}
